.card {
  background: rgb(255, 241, 45);
  max-width: 250px;
  box-shadow: var(--shadow-elevation-high);
  border: 4px solid #1d2b5d;
  border-radius: 10px;
  transition: transform 0.1s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card:active {
  box-shadow: none;
}

.pokemon-name {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.2em;
  color: #223b6c;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  text-align: center;
}

@keyframes grow {
  from {
    transform: scale(0);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1.05);
  }
}