@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

:root {
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low:
    0.3px 0.3px 0.5px hsl(var(--shadow-color) / 0.11),
    1.2px 1.1px 1.9px -2px hsl(var(--shadow-color) / 0.13);
  --shadow-elevation-medium:
    0.3px 0.3px 0.5px hsl(var(--shadow-color) / 0.1),
    1.6px 1.6px 2.7px -1px hsl(var(--shadow-color) / 0.11),
    5.9px 5.7px 9.8px -2px hsl(var(--shadow-color) / 0.13);
  --shadow-elevation-high:
    0.3px 0.3px 0.5px hsl(var(--shadow-color) / 0.09),
    2.4px 2.3px 4px -0.4px hsl(var(--shadow-color) / 0.1),
    4.9px 4.7px 8.1px -0.8px hsl(var(--shadow-color) / 0.11),
    8.9px 8.6px 14.8px -1.2px hsl(var(--shadow-color) / 0.11),
    15.8px 15.4px 26.3px -1.6px hsl(var(--shadow-color) / 0.12),
    26.9px 26.2px 44.8px -2px hsl(var(--shadow-color) / 0.13);
}

body {
  background: #ffeaea;
  font-family: "Jersey 10", serif;
  font-weight: 400;
  font-style: normal;
}